In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv('SalaryData.csv')

In [4]:
dataset.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [6]:
dataset.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [7]:
y = dataset['Salary']
x = dataset['YearsExperience']

In [9]:
y.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [12]:
type(x)#both the x and y are in pandas to do processsing we need to convert it into the nd array 
type(y)

pandas.core.series.Series

In [14]:
x = x.values #values is function which will convert the pandas frame into ndarray

In [15]:
y= y.values

In [16]:
type(x)

numpy.ndarray

In [17]:
X = x.reshape(-1,1) #to perform any operation on arrray it should be more than one-diamensional

In [18]:
Y = y.reshape(-1,1)

In [19]:
from sklearn.linear_model import LinearRegression #importing linear regression function

In [21]:
Model = LinearRegression() #creating a vacant space for model using function

In [22]:
Model.fit(X,Y) #fitting the data into model

LinearRegression()

In [24]:
Model.predict([[9]]) #as we have converted x&y to 2-d array we have to use double [[]] brackets

array([[110841.86109176]])

In [25]:
c = Model.coef_

In [27]:
c #This is coefient of our linear model

array([[9449.96232146]])

In [28]:
b = Model.intercept_

In [29]:
b # This is the weight for our model

array([25792.20019867])

In [30]:
import joblib

In [32]:
joblib.dump(Model, 'salarypredictor.h5') #now we have saved our trained model using this we can easily predict our output without processing the data

['salarypredictor.h5']